/**==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");

/**==================== VARIABLES CSS ====================*/
:root {
  /*====================Colors */
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
  /*====================Fonts*/
  --body-font: "Inconsolata", monospace;
}
/** ==================== Globales ==================== */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 16px;
  font-family: var(--body-font);
}
ul {
  list-style: none;
  display: inline;
}
li {
  display: inline;
}
a {
  text-decoration: none;
}
/** ==================== CSS ==================== */
.titulo {
  text-align: center;
  font-size: 3.8rem;
}
.titulo span {
  font-size: 2rem;
}

.nB {
  background-color: #0097a7;
}

.navMain ul {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}
.navMain a {
  color: var(--blanco);
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}
.navMain a:hover {
  background-color: var(--primario);
  color: var(--oscuro);
}
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

/** ==================== MQ OF NAVBAR ==================== */
@media (max-width: 534px) {
  .navMain ul {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
  }
  .navMain a {
    padding: 0;
    margin: 10rem;
  }

  .navMain li:hover {
    background-color: var(--primario);
    width: 100%;
    text-align: center;
  }
}
/* .x input {
  display: block;
} */
/*para el formulario*/
